<h1>your pairing sessions</h1>
<% @pairings.each do |pairing| %>
  <div>
  pairing with : <%= pairing.pair_id %>
  On date : <%= pairing.session_date %>
  </div>
  <% end %>
  <div>
    <%= link_to "Request Pairing session", new_bootcoder_pairing_session_path %>
  </div>
